/* Importa o arquivo CSS que importa a fonte Ravie */
@import "fonts/ravie.css";

#recipiente{
    background-image: linear-gradient(#f6f1b2, #4599b2);
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

header{
  text-align: right;
}

header h1{
    font-family: "Ravie";
    font-size: 36px;
    color: #e90c0c;
}

header h2{
    font-family: "Trebuchet MS", Heveltica, sans-serif;
    font-size: 24px;
    color: #333;
}

header strong{
  color: #d027aa;
}
